<article class="post-item">
    <h2><%= post.title %></h2>
    <p class="post-item-author">By <%= post.author_name %></p>
    <p><%= post.summary %></p>
    <div class="post-actions">
        <form action="/post/delete/<%= post.id %>" method="post">
            <button class="btn btn-alt">Delete Post</button>
        </form>
        <a href="/post/edit/<%= post.id %>/<%= post.title %>">Edit Post</a>
        <a class="btn" href="/post/<%= post.id %>/<%= post.title %>"
            >View Post</a
        >
    </div>
</article>
